# Server
PORT=3001
NODE_ENV=development

# Stack API
STACK_PROGRAM_API_KEY_7691= # community activations
STACK_PROGRAM_API_KEY_7695= # alfa frens
STACK_PROGRAM_API_KEY_7696= # super boring 1st wave
STACK_PROGRAM_API_KEY_7703= # flow guilds & octant sqf
STACK_PROGRAM_API_KEY_7712= # payments & distributions
STACK_PROGRAM_API_KEY_7702= # gooddollar
STACK_PROGRAM_API_KEY_7704= # giveth

STACK_WRITE_API_KEY=a7935907-c4ff-4486-a6dc-3797e93931d4

STACK_API_BASE_URL=https://api.stack.so
SLACK_WEBHOOK_URL=

# Blockchain
ETHEREUM_RPC_URL=https://base-mainnet.rpc.x.superfluid.dev/
LOCKER_FACTORY_ADDRESS=
LOCKER_GRAPH_URL=https://api.thegraph.com/subgraphs/name/your-subgraph

# Point System Configuration
POINT_THRESHOLD=99
POINTS_TO_ASSIGN=100
COMMUNITY_ACTIVATION_ID=7691

THRESHOLD_TIME_PERIOD=3600
THRESHOLD_MAX_USERS=100

# API Authentication
ADMIN_API_KEY=admin_api_key_for_managing_client_keys 